<section class="bg-background2 px-2 py-8 sm:px-4 md:px-8">
  <div class="mb-6 text-center">
    <h2 class="text-white text-2xl sm:text-3xl font-bold">أعمالي</h2>
  </div>

  <section class="mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div *ngFor="let project of project"
           class="mx-auto w-full max-w-sm flex flex-col self-start rounded-lg bg-background text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white">
        <a [routerLink]="['/product', project.id]" class="flex flex-col h-full">
          <img [src]="project.imageUrl" class="rounded-t-lg w-full object-cover h-40 md:h-48" alt="{{ project.name }}" />
          <div class="p-4 sm:p-6 font-arabic text-center text-black flex-grow">
            <h5 class="text-xl sm:text-2xl font-medium leading-tight mb-2 sm:mb-4">{{ project.name }}</h5>
            <p class="description text-gray-600 mb-2 sm:mb-4">
              {{ project.description }}
            </p>
          </div>
          <div class="p-4 sm:p-6">
            <button class="mt-auto bg-secondary text-white font-bold py-2 px-4 rounded hover:bg-blue-500 transition ease-in-out duration-300 w-full text-xs sm:text-base">
              اقرأ المزيد
            </button>
          </div>
        </a>
      </div>
    </div>
  </section>

  <div *ngIf="project.length === 0" class="text-center mt-4 text-lg text-gray-300">
    لا توجد مشاريع متاحة في الوقت الحالي.
  </div>
</section>
