<!-- home.component.html -->
<div class=" bg-background min-h-screen">
  <app-header></app-header>

  <main class="container mx-auto mt-24 space-y-20">
    <section id="home" class="min-h-screen scroll-mt-32">
      <app-home></app-home>
    </section>

    <section id="work" class="min-h-screen scroll-mt-32">
      <app-work></app-work>
    </section>
    <section id="contact" class="min-h-screen scroll-mt-32">
      <app-contact></app-contact>
    </section>
  </main>
  <app-footer></app-footer>
</div>
