  <!--app.component.html -->
  <div class="p-4 md:p-8 lg:p-12 bg-background">
  <!-- Responsive Design-->

  
<!-- Header (Navigation Bar) -->
<app-header></app-header>
<main class="container mx-auto mt-24 space-y-20">
  <!-- باقي الأقسام مثل الصفحة الرئيسية، الأعمال، المقالات، الشهادات -->
  <section id="home" class="min-h-screen">
    <app-home></app-home>
  </section>
  <section id="work" class="min-h-screen bg-gray-100">
    <app-work></app-work>
  </section>
  <section id="articles" class="min-h-screen">
    <app-articls></app-articls>
  </section>
  <!-- وهكذا... -->
</main>

<!-- Footer -->
<app-footer></app-footer>



</div>
