<section
  id="home"
  class="min-h-screen text-secondary flex items-center px-4 md:px-20 font-poppins"
>
  <div
    class="mx-auto w-full max-w-7xl flex flex-col md:flex-row items-center justify-between gap-8 md:gap-16"
  >
    <!-- Image Section (Right) -->
    <!-- Text Section (Left) -->
    <div class="w-full md:w-1/2 text-center md:text-left">
      <h2 class="text-2xl md:text-3xl text-primary mb-4">Hello, I’m</h2>
      <h1
        class="name-typing text-5xl sm:text-6xl md:text-8xl font-extrabold mb-4 text-secondary"
      >
        Rayan Alalyani
      </h1>
      <h3 class="text-xl sm:text-2xl md:text-3xl text-background2 mb-8">
        Software Engineer | Data Analyst
      </h3>
      <a
        href="assets/pdf/CVRayan_Alolyani.pdf"
        class="inline-block border-2 border-secondary text-secondary px-8 py-3 rounded-lg font-bold text-lg hover:bg-secondary hover:text-white transition mb-8"
      >
        Download CV
      </a>

      <div
        class="flex items-center justify-center md:justify-start gap-6 mt-10"
      >
        <a
          href="https://x.com/rayanOly"
          target="_blank"
          class="p-2 rounded-full bg-secondary text-white hover:bg-primary transition"
        >
          <i class="fa-brands fa-x text-2xl"></i>
        </a>
        <a
          href="https://wa.me/966531378082"
          target="_blank"
          class="p-2 rounded-full bg-secondary text-white hover:bg-primary transition"
        >
          <i class="fa-brands fa-whatsapp text-2xl"></i>
        </a>
        <a
          href="mailto:Ryyanoly@gmail.com"
          class="p-2 rounded-full bg-secondary text-white hover:bg-primary transition"
        >
          <i class="fa-solid fa-envelope text-2xl"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/rayan-alolyani-92003422b"
          target="_blank"
          class="p-2 rounded-full bg-secondary text-white hover:bg-primary transition"
        >
          <i class="fa-brands fa-linkedin-in text-2xl"></i>
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex justify-center md:justify-end">
      <div class="relative">
        <!-- الصورة الشخصية داخل مربع شفاف -->
        <div
          class="relative bg-transparent border-4 border-secondary shadow-xl w-72 h-72 sm:w-96 sm:h-96 md:w-[28rem] md:h-[28rem] rounded-2xl flex items-center justify-center"
        >
          <div
            *ngIf="imgLoading"
            class="w-24 h-24 border-4 border-secondary border-t-transparent rounded-full animate-spin"
          ></div>

          <img
            [hidden]="imgLoading"
            (load)="onImageLoad()"
            src="assets/images/me.jpg"
            alt="Rayan Alolyani"
            class="w-full h-full object-cover rounded-2xl"
          />
        </div>
      </div>
    </div>
  </div>
</section>
